#
# Copyright (C) 2013, Broadcom Corporation. All Rights Reserved.
# 
# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
# 
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY
# SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION
# OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
# CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#
menuconfig IPROC_MTD_NAND
	tristate "NAND support"
	depends on ARCH_IPROC
	select MTD
	select MTD_NAND
	default n
	help
	  This selects a driver for the iProc NAND Controller.
	
	  If unsure, say N.

if IPROC_MTD_NAND

config IPROC_MTD_NAND_USE_JFFS2
	bool "Use JFFS2 on NAND"
    default n
	help
	  Enable this if JFFS2 will be used on NAND. This is to solve compatibility
	  issue for the NAND controller to work with JFFS2 (with some performance
	  degrade).
	  
	  If unsure, say N.

endif # IPROC_MTD_NAND
